.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
}

.navLinkColor {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-right: 50px;
}

.navLinkColorDW {
  text-decoration: none;
  color: gray;
  font-size: 15px;
}

.navLinkColorD {
  color: coral;
  font-size: 25px;
  margin: 0px 400px;
}

.cart-widget {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.carW {
  margin-left: 220%;
}

.qty-display {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  text-align: center;
  line-height: 17px;
}

.list-container {
  margin: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  margin:0px 2px;
}
span{
  margin: 0px 5px;
}

.btn-secondary{
  margin: 0px 20px;
}

.stock-container {
  margin: 20px auto;
}

.perf {
  margin: 50px 70px;
}

.imgCont img {
   width: 350px;
   margin: 0px 260px;
}

.perf p {
  margin: 0px auto;
  font-size: larger;
}

.perf h1, h3 {
  margin: 10px auto;
}

.mat-card {
  border-radius: 32px;
  margin: 25px auto;
  padding: 20px;
  border-color: lightgray;
  width: 70%;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

ul img {
  width: 250px;
  margin-left: -20px;
}

li {
  margin: 10px 0px;
}

.gridsCart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#carrito0 {
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
}

#carrito1 {
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
}